#container {
    position: relative;
    display: block;
    width: 620px;
    height: 720px;
    padding: 0 10px;
    background-color: lightgrey;
}

#container .event {
    position: absolute;
    background-color: white;
    border: 2px solid darkgray;
    border-left: 10px solid forestgreen;
}